.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%
}

.wrapper .container {
  max-width: 80rem
}

.wrapper>.container {
  padding-bottom: 7.5rem;
  padding-top: 7.5rem
}
